.bg-image {
   background-image: url("../../src/Assets/Images/background.jpg");

  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.login-info {
   background-image: url("../../src/Assets/Images/slide-2.jpg");
   background-repeat: no-repeat;
   padding-bottom: 600px;
   background-position: 100%;
   background-size: cover;
}

.login-info h1 {
   padding: 20px;
   color: #fff;
   font-size: 64px;
   font-weight: 600;
   background-color: hsla(312, 73%, 37%, 0.384);
}